
:root {font-family: arial, sans-serif;font-weight: 100;opacity: 0.9;}
.google-main { display: grid;
               grid-template-rows: auto auto auto ;
              width: 100%;
              justify-content: center;
              padding-top: 220px;
                 }
     
     img {position: relative;left: 150px;}


     .sbar { font-weight: 200;
             position:relative;     
        height: 35px;
        font-size: 1.2em;
        border-radius: 10px;
        margin-top: 20px; 
        margin-bottom: 30px;
        width: 100%;
        border-color: rgb(235, 233, 233);
     }


input.sbar {
                background-image:url(images/magnifying.png);
                background-size: contain;
                background-repeat: no-repeat;
                text-indent: 20px;
}
input.sbar:focus {background-image: none;
                   text-indent: 0px;}
       
  .sbutt1 {  position: relative;left :130px;font-weight: 100;height: 40px;width: 130px;border-color: rgb(231, 231, 231); border-radius: 10px;opacity: 0.75;}
    
  .sbutt2 {   position: relative;left: 160px;font-weight: 100;height: 40px;width: 160px;border-color: rgb(231, 231, 231);border-radius: 10px;opacity: 0.75;} 
 
button {background-color: rgb(255, 255, 255);}
button:hover {color: grey;}

ul {display: inline;}

li {display: inline;
}

.rightnav {float:right; padding-right: 100px;padding-top: 20px;}
.leftnav   {float: left;padding-left: 50px;padding-top: 20px;}


#llist {padding-left: 40px;}
#rlist {padding-left: 40px;}

.ausfoot { padding-top: 15px;padding-left: 50px;}

footer {
    width: 100%;
    position: fixed ; 
    bottom: 0;        
    background-color: rgb(233, 233, 233);
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
height: 90px ;}


.footer-right {float: right;
padding-right: 160px;}

#frspace {padding-right: 30px; }

.footerleft {
    padding-left: 160px; padding-top: 30px;

}

.footlist { font-size: 15px;}






    

    
    