html {background-color: white;}

.google-img { display: grid;
              grid-template-rows: 100px 100px;
                
              justify-content: center;
              align-items: center;
              padding-top: 200px;
                 }
     #sbar { width: 280px;
                height: 28px;
            font-size: 1.2em; }
    #sbutt {height: 28px;
        font-size: 1.2em;}


   
    

    
    